/* @media screen and (max-width: 600px) {
  .chart-container {
    max-width: none;
    padding: 10px;
  }

  .chart-canvas {
    width: 100%;
    height: 300px;
  }
} */


.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  
  

  @media screen and (max-width: 600px) {
    max-width: none;
    padding: 10px;
    
  }
}
